:root {
    --boardHeight: 25rem;
    --boardWidth: 25rem;
    --numRanks: 8;
    --numFiles: 8;
}

.chessboard {
    height: var(--boardHeight);
    width: var(--boardWidth);
    overflow: visible;
    display: grid;
    grid-template-rows: repeat(var(--numRanks), 1fr);
    grid-template-columns: repeat(var(--numFiles), 1fr);
}

.draggedPiece {
    position: fixed;
    z-index: 10;
    width: calc(var(--boardWidth) / var(--numFiles));
    height: calc(var(--boardHeight) / var(--numRanks));
    transform: translate(-50%, -50%);
    pointer-events: none;
}